html{background-image: url(elitefon.ru_6742.jpg); font-size: 20pt; text-align: center;}
	h1{color: lime; font-family: TURW Chancery L, cursive;}
	p{color: orange; font-family: Apple Chancery, cursive;}
	h3{color: #C0C0C0; font-family: Bradley Hand, cursive;}
    ol{color: #00FFFF; font-family: Snell Roundhand, cursive;}
    a{color: yellow; font-family: Courier New, monospace;}
    h5{color: #FFFF33; font-family: Georgia, serif;}
    h6{color: #FFFF66; font-family: Courier New, monospace;}