html{background-image: url(elitefon.ru_6742.jpg); font-size: 20pt; text-align: center;}
	h1{color: lime; font-family: caudex;}
	p{color: orange; font-family: 'arvo', serif;}
	h3{color: #FFFFFF; font-family: caudex;}
    ol{color: #00FFFF; font-family: amaranth;}
    a{color: yellow;font-family: droid serif;}